In [2]:
import pandas as pd

df=pd.read_csv("tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# Data  Understandig

* Understand each and every row and column.

* total_bill : total bill at restaurant

* tip : tip given to waiter
    
* sex : gender of the person (Who paid the bill)

* smoker : wheather the person is smoker or no
    
* day : which day they come to restaurant
    
* time : Which time they came to restaurant
    
* size : total no.of memebers come to restaurant.

# DataSet Understanding

* Check how much row and column.

In [4]:
df.shape

(244, 7)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [8]:
continous=["total_bill","tip"]
discreate=['sex','smoker','day','time','size']

#discreate categorical =['sex','smoker','day','time']
#discreate count=['size']

In [1]:
import numpy as np
np.sum([True,False])

1

In [3]:
print("foo" if (256).bit_length()>8 else "bar")

foo