In [1]:
import numpy as np
import pandas as pd

In [31]:
df=pd.read_csv("claimants sample.csv")

In [34]:
df

   CASENUM  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS  ATTORNEY
0        5       0       1.0         0    50.0  34.940         0
1        3       1       0.0         0    18.0   0.891         1
2       66       0       1.0         0     5.0   0.330         1
3       70       1       1.0         1    31.0   0.037         0
4       96       0       1.0         0    30.0     NaN         1
5       97       1       1.0         0    35.0   0.309         0
6       10       0       NaN         0     9.0   3.538         0
7       36       1       NaN         0    34.0   4.881         0
8       51       1       1.0         0    60.0   0.874         1
9       55       1       1.0         0     NaN   0.350         1

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CASENUM   10 non-null     int64
 1   CLMSEX    10 non-null     int64
 2   CLMINSUR  8 non-null      float64
 3   SEATBELT  10 non-null     int64
 4   CLMAGE    9 non-null      float64
 5   LOSS      9 non-null      float64
 6   ATTORNEY  10 non-null     int64
dtypes: float64(3), int64(4)
memory usage: 692.0 bytes

# Check for missing values in each columns

In [36]:
df.isnull().sum()

CASENUM     0
CLMSEX      0
CLMINSUR    2
SEATBELT    0
CLMAGE      1
LOSS        1
ATTORNEY    0
dtype: int64

* Empty cell give you wrong result when you analyze data.

# Dealig the missing values

# 1. Remove the row that contains missing values.

In [37]:
df1=df.dropna()  #5% data delection is allowed with statistical prove.

df1

* We should not remove >5% of original data.

* This is usually ok, for very big data sets, and removing a few rows will not have a big impact on the result.

In [38]:
df1.isnull().sum()

CASENUM     0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
ATTORNEY    0
dtype: int64

# 2. Rplace the NaN value

-Mean

-Median

-Mode

_Fill with some value

* Continous Variables -->Age,Loss--->Replace with either mean or median for continous data.

* Discreate Variables -->INSUR---> Mode is used for discreate data.

1. fillna() Using pandas

In [39]:
df["CLMINSUR"].mean()

0.875

In [41]:
df["CLMINSUR"].fillna(0.875,inplace=True)

In [42]:
#df["CLMINSUR"].fillna(df["CLMINSUR"].mean(),inplace=True)

In [43]:
df["LOSS"].fillna(df["LOSS"].mean(),inplace=True)

In [47]:
df["CLMAGE"].fillna(df["CLMAGE"].mean(),inplace=True)

In [48]:
#For discreaye data use mode like yes,no

# Option 2 Using Sklearn

In [50]:
df=pd.read_csv("Claimants sample.csv")

In [51]:
df

   CASENUM  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS  ATTORNEY
0        5       0       1.0         0    50.0  34.940         0
1        3       1       0.0         0    18.0   0.891         1
2       66       0       1.0         0     5.0   0.330         1
3       70       1       1.0         1    31.0   0.037         0
4       96       0       1.0         0    30.0     NaN         1
5       97       1       1.0         0    35.0   0.309         0
6       10       0       NaN         0     9.0   3.538         0
7       36       1       NaN         0    34.0   4.881         0
8       51       1       1.0         0    60.0   0.874         1
9       55       1       1.0         0     NaN   0.350         1

In [52]:
df.isnull().sum()

CASENUM     0
CLMSEX      0
CLMINSUR    2
SEATBELT    0
CLMAGE      1
LOSS        1
ATTORNEY    0
dtype: int64

In [53]:
from sklearn.impute import SimpleImputer

In [54]:
mean_imputer = SimpleImputer(strategy='mean')

In [58]:
df["CLMINSUR"]=mean_imputer.fit_transform(df[["CLMINSUR"]])

In [59]:
median_imputer=SimpleImputer(strategy='median')

df["LOSS"]=median_imputer.fit_transform(df[["LOSS"]])

In [66]:
median_imputer=SimpleImputer(strategy='median')

df['CLMAGE']=median_imputer.fit_transform(df[["CLMAGE"]])

In [67]:
df.isnull().sum()

CASENUM     0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
ATTORNEY    0
dtype: int64

In [ ]:
python--version