# Feature processing : Transformation

* Converting skewed data to normal

Right- Skewed ---->Nth root or log(x)

Left-Skewed--------->Nth power or exp

In [50]:
import numpy as np
import pandas as pd

In [51]:
data= pd.read_csv('titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [52]:
data=pd.read_csv('titanic.csv',usecols=['Fare'])

In [53]:
data.head()

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [54]:
data['Fare'].skew()

4.787316519674893

# Root transformation

In [55]:
data["sqr_Fare"]=data['Fare']**(1/4.7)
data["sqr_Fare"].skew()

0.00982006067812734

# Logirithmic Transformation

In [56]:
data['Log_Fare']=np.log(data["Fare"])

#If we not add 0.001 it will give warning.

C:\Users\Admin\anaconda3\Lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [57]:
data['Log_Fare']=np.log(data["Fare"]+0.1)
#add 0.001 with each value it will not affect.
data["Log_Fare"].skew()

-0.9166865254725971

# Reciprocal transformation

In [36]:
data['Rec_Fare']=1/(data['Fare']+0.01)
data['Rec_Fare'].skew()

7.523650082079874

# BoxCox

The Box-Cox transformation is defined as:
    
(X**lamda-1)/lamda


Where Y is the response variable and lamda is the transformation parameter. lamda varies from -5 to 5.In the transformation, all values of lamda are considered and the optional value for a given variable selected.

In [38]:
from scipy import stats

In [42]:
#Transform training data & save lamda value

data["Fare_boxcox"], param=stats.boxcox(data.Fare+0.01)

In [43]:
print("lamda=",param)

lamda= 0.18091321955494596

In [44]:
data["Fare_boxcox"].skew()

0.25282461235568676

#apply above 4 method and which method give closest to 0 select this method for feature transformation.(Not fixed).

# For Left Skewed data.

* Exponentioal

data["Fare_exp"]=np.exp(data['Fare'])



* Nth power

data["Fare"]=data["Fare"]*2

In [76]:
data.skew()

Fare            4.787317
sqr_Fare        0.009820
Log_Fare       -0.916687
Log_Fare_exp    4.787317
Log_Fare_nth   -0.916687
dtype: float64

In [77]:
data["Log_Fare_exp"]=np.exp(data["Log_Fare"])
data["Log_Fare_exp"].skew()

4.78731651967489

In [78]:
data["Log_Fare_nth"]=data["Log_Fare"]*1
data["Log_Fare_nth"].skew()

-0.9166865254725971