# Feature Scaling

* Feature scaling refers to the methods or techniques used to normalize the range of independent variables 
  in our data, or in other words, the methods to set the feature value range within a similar scale.

* Variables with bigger magnitude/large value range dominate over those with smaller magnitude/value range.

* Scale of the features is an important consideration when building machine learning models.

* Feature scaling is generally the last step in the data preprocessing pipeline, performed just before training the machine learning algorithms.

* preserves the shape of the original distribution.

* The minium and maximum values of the diffrent variables may vary 

* preserve outliers.

# Feature Scaling import in some ML Algorithms.

* Linear and Logistic Regression

* Gradient descent coverages faster when features are   on similar scales

* Support Vector Machines

* K-Means Clustering

* Principal Component analysis(PCA)

# Various Feature Scaling Techniques

* Standardisation

* Normalisation

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('titanic.csv',usecols=['Age'])
df.head()

    Age
0  22.0
1  38.0
2  26.0
3  35.0
4  35.0

In [4]:
df.isnull().sum()

Age    177
dtype: int64

In [5]:
df["Age"].fillna(df.Age.median(),inplace=True)

In [6]:
df["Age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

# Standardization

Standardisation involes centering the variable mean at zero, and standarising the variance to 1.

z=(x-x_mean)/std

standardization 
  
    * centers the mean at 0
    * Scales the variance at 1

In [8]:
# Standarisation : We use the Standardscaler from sklearn library.

from sklearn.preprocessing import StandardScaler

In [9]:
# Call the function 

sc=StandardScaler()

In [10]:
# fit_transform

df["Age_sc"]=sc.fit_transform(df[["Age"]])

In [11]:
df

      Age    Age_sc
0    22.0 -0.565736
1    38.0  0.663861
2    26.0 -0.258337
3    35.0  0.433312
4    35.0  0.433312
..    ...       ...
886  27.0 -0.181487
887  19.0 -0.796286
888  28.0 -0.104637
889  26.0 -0.258337
890  32.0  0.202762

[891 rows x 2 columns]

# Min Max Scaling (CNN---Deep Learning Techniques)

Min MAx Scaling scales the values between 0 to 1.

X_scaled=(X-X.min)/(X.max-X.min)

In [12]:
#Normalization: We use the MinmaxScaler from sklearn Library.

#Import MinMaxScaler
from sklearn.preprocessing import MinMaxScaler

In [13]:
# Call the function 

min_max=MinMaxScaler()

In [14]:
# fit_transform

df["Age_mm"]=min_max.fit_transform(df[["Age"]])

df

      Age    Age_sc    Age_mm
0    22.0 -0.565736  0.271174
1    38.0  0.663861  0.472229
2    26.0 -0.258337  0.321438
3    35.0  0.433312  0.434531
4    35.0  0.433312  0.434531
..    ...       ...       ...
886  27.0 -0.181487  0.334004
887  19.0 -0.796286  0.233476
888  28.0 -0.104637  0.346569
889  26.0 -0.258337  0.321438
890  32.0  0.202762  0.396833

[891 rows x 3 columns]