# step 1 : Busienss Problem Understanding

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Step 2: Data Understanding

# Load Data & Uderstand every variable.

In [2]:
df=pd.read_excel("insurance.xlsx")
df.head(15)

    age     sex   bmi  children smoker     region  expenses
0    19  female  27.9         0    yes  southwest  16884.92
1    18    male  33.8         1     no  southeast   1725.55
2    28    male  33.0         3     no  southeast   4449.46
3    33    male  22.7         0     no  northwest  21984.47
4    32    male  28.9         0     no  northwest   3866.86
5    31  female  25.7         0     no  southeast   3756.62
6    46  female  33.4         1     no  southeast   8240.59
7    37  female  27.7         3     no  northwest   7281.51
8    37    male  29.8         2     no  northeast   6406.41
9    60  female  25.8         0     no  northwest  28923.14
10   25    male  26.2         0     no  northeast   2721.32
11   62  female  26.3         0    yes  southeast  27808.73
12   23    male  34.4         0     no  southwest   1826.84
13   56  female  39.8         0     no  southeast  11090.72
14   27    male  42.1         0    yes  southeast  39611.76

# Dataset Understanding

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

# Explority data Analysis

In [4]:
df.corr()

C:\Users\Admin\AppData\Local\Temp\ipykernel_6696\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

               age       bmi  children  expenses
age       1.000000  0.109341  0.042469  0.299008
bmi       0.109341  1.000000  0.012645  0.198576
children  0.042469  0.012645  1.000000  0.067998
expenses  0.299008  0.198576  0.067998  1.000000

In [5]:
categorical=[]
continous=[]
check=[]

d_types=dict(df.dtypes)

for name,type in d_types.items():
    if str(type)=='object':
        categorical.append(name)
    elif str(type) == 'float64':
        continous.append(name)
    
    else:
        check.append(name)
        
print("Categorical_features",categorical)
print("Continous_feature",continous)
print("feature to be checked",check)

Categorical_features ['sex', 'smoker', 'region']
Continous_feature ['bmi', 'expenses']
feature to be checked ['age', 'children']

In [6]:
d_types

{'age': dtype('int64'),
 'sex': dtype('O'),
 'bmi': dtype('float64'),
 'children': dtype('int64'),
 'smoker': dtype('O'),
 'region': dtype('O'),
 'expenses': dtype('float64')}

In [9]:
d_types= dict(df.dtypes)
for name, type_ in d_types.items():
    if str(type_)=='object':
        print(f"<========{name}=======>")
        print(df[name].value_counts())

<========sex=======>
male      676
female    662
Name: sex, dtype: int64
<========smoker=======>
no     1064
yes     274
Name: smoker, dtype: int64
<========region=======>
southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [10]:
df.describe()

               age          bmi     children      expenses
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.665471     1.094918  13270.422414
std      14.049960     6.098382     1.205493  12110.011240
min      18.000000    16.000000     0.000000   1121.870000
25%      27.000000    26.300000     0.000000   4740.287500
50%      39.000000    30.400000     1.000000   9382.030000
75%      51.000000    34.700000     2.000000  16639.915000
max      64.000000    53.100000     5.000000  63770.430000

C:\Users\Admin\AppData\Local\Temp\ipykernel_6696\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

               age       bmi  children  expenses
age       1.000000  0.109341  0.042469  0.299008
bmi       0.109341  1.000000  0.012645  0.198576
children  0.042469  0.012645  1.000000  0.067998
expenses  0.299008  0.198576  0.067998  1.000000

# Step -3: Data Processing

In [12]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [13]:
#drop the rgion colum
df.drop('region',axis=1,inplace=True)

In [14]:
#Encoding 'smoker' column
df['smoker'].replace({'no':0,'yes':1},inplace=True)

#Encoding  sex column

df['sex'].replace({'female':0,'male':1},inplace=True)

In [15]:
x=df.drop('expenses',axis=1)
y=df['expenses']

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=9)

# step - 4,5 :Modelling & Evaluation

Lasso Regression with default parameters

In [23]:
#Modelling

from sklearn.linear_model import Lasso

lasso_model=Lasso()

lasso_model.fit(x_train,y_train)

#prediction

train_predictions=lasso_model.predict(x_train)
test_predictions=lasso_model.predict(x_test)

#Evaluation

train_r2=lasso_model.score(x_train,y_train)
test_r2=lasso_model.score(x_test,y_test)

print(train_r2)
print(test_r2)


#cv

from sklearn.model_selection import cross_val_score
print("cross_val_score",cross_val_score(lasso_model,x,y,cv=5).mean())

0.7433161675495346
0.7757553862206219
cross_val_score 0.7466664879428851

# Applyig Hyperparameter tuning for Lasso Regression

In [45]:
from sklearn.model_selection import GridSearchCV

#model
estimator = Lasso()

#parameter & values

param_grid = {"alpha":[0.1,0.2,0.5,0.7,1,10,50,100,1000]}

#Identifying the best value of the parameter within given values for the given data

model_hp=GridSearchCV(estimator,param_grid,cv=5,scoring='neg_mean_squared_error')
model_hp.fit(x_train,y_train)
model_hp.best_params_

{'alpha': 1}

# Rebuilt Lassomodel using best hyperprameter

In [30]:
#modelling

from sklearn.linear_model import Lasso
lasso_model=Lasso()
lasso_model.fit(x_train,y_train)

#intercept& coefficient

print(lasso_model.coef_)
print(lasso_model.intercept_)

#prediction

train_predictions=lasso_model.predict(x_train)
test_predictions=lasso_model.predict(x_test)

#Evaluation

print("train_r2",lasso_model.score(x_train,y_train))
print("test_r2",lasso_model.score(x_test,y_test))
print("Cross_val_score",cross_val_score(lasso_model,x,y,cv=5).mean())

[  256.85733518   -41.04872399   305.20721964   440.74488212
 23621.22826088]
-11458.636514554386
train_r2 0.7433161675495346
test_r2 0.7757553862206219
Cross_val_score 0.7466664879428851

# Final model

In [32]:
x = x.drop(x.columns[[1]],axis=1)
y = df['expenses']

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=9)

#Modelling
from sklearn.linear_model import Lasso
lasso_best=Lasso(alpha=100)
lasso_best.fit(x_train,y_train)

#Predictions

train_predictions= lasso_best.predict(x_train)
test_predictions=lasso_best.predict(x_test)

#Evaluation

print("Train_R2",lasso_best.score(x_train,y_train))
print("Test_R2",lasso_best.score(x_test,y_test))
print("Cross Validation Score",cross_val_score(lasso_best,x,y,cv=5).mean())

Train_R2 0.7428619489100416
Test_R2 0.7736501234643404
Cross Validation Score 0.7465496996440132

# Prediction on new data

In [36]:
input_data = {"age":31,
             "sex":"female",
             "bmi":25.74,
             "children":0,
             "smoker":"no",
             "region":"northeast"}

# Processing the data

In [42]:
df_test =  pd.DataFrame(input_data,index=[0])

df_test.drop('region',axis=1,inplace=True)

df_test['sex'].replace({'female':0,'male':1},inplace=True)
df_test['smoker'].replace({'no':0,'yes':1},inplace=True)

transformed_data=df_test.drop(df_test.columns[[1]],axis=1)

# predict

In [44]:
lasso_best.predict(transformed_data)

array([4547.91555652])